body {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1152px;
    margin: auto;
    @include mobile() {
        padding: 0 14px;
    }
}
a {
    text-decoration: none;
    color: $black;
}
input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid $gray80;
    border-radius: 5px;
}
input[type="submit"] {
    background-color: $red-orange;
    color: $white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: $mostly-pure-red;
    color: $white;
}
button {
    background-color: $red-orange;
    color: $white;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: $mostly-pure-red;
    color: $white;
}
