.banner-wrapper {
    position: relative;
    .banner {
        width: 100%;   
        height: calc(100vh - 66px);
    }
    .banner-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        button {
            margin: 2rem 0;
        }
    }
}
@include cards();
