@mixin flexbox() {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@mixin cards() {
    .cards {
        @include flexbox();
        margin: 5rem 0;
        .card {
            flex: 0 0 32%;
            padding: 10px 10px 25px 10px;
            box-shadow: 0px 2px 4px 0px $dark-gray;
            margin: 0 0 35px 0;
            box-sizing: border-box;
            @include mobile() {
                flex: 0 0 100%;
            }
            strong {
                font-size: 13px;
            }
            h3 {
                margin: 1rem 0 0.65rem 0;
            }
            .post-author-name {
                margin: 0.5rem 0 0 0;
            }
            .post-img {
                width: 100%;
                height: 200px;
            }
            .read-more {
                color: $orange;
                text-transform: lowercase;
            }
            .read-more:hover {
                color: $red-orange;
            }
        }
    }
}